.section-div-Bienvenido{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.section-h2{
    font-size: 45px;
}
.section-p{
    font-size: 18px;
    padding: 10px 0 10px 0;
    color: #64748B;
}
.section-buttom1{
    background-color: #FFAC47;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-right: 30px;
    cursor: pointer;
}
.section-buttom2{
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    padding: 15px;
    cursor: pointer;
}
.a-section-buttom{
    color: black;
}
.center-text{
    text-align: center;
}
.section-h3{
    font-size: 25px;
}
.flex-row{
    display: flex;
}
.card{
    background-color: #FAFAFA;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}
.section-icon{
    color: #FFAC47;
    background-color: #FFF6EC;
    padding: 10px;
    border-radius: 100px;
}
.section-h4{
    font-size: 20px;
}
.section-card-p{
    color: #64749A;
    font-size: 12px;
    padding: 10px;
}
.section-card-buttom{
    background-color: #F0F8FF;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #E2E8F0;
    cursor: pointer;
}
.section-card-a{
    color: black;
}
@media (max-width: 915px){
    .flex-row{
        display: flex;
        flex-direction: column;
    }
    .card{
        margin-left: 50px;
        margin-right: 50px;
    }
}